<div class="view">
	<section>
		<h2>About—</h2>
		<p>I am 23 years old and graduated from AUT with a Bachelor of Design majoring in Graphic Design in 2014 and followed up with a Diploma of Web Development in 2015.</p>
		<p>I am a confident user of Adobe Creative Suite, particularly inDesign and illustrator and I have proficent knowledge of photoshop. I am fluent in both Windows and OSX and am beginning to explore  GNU/Linux distros.</p>
		<p>Client-side development is my forté, however I am still very interested in Server-side (particularly NodeJs). I am most comfortable working with MEAN stacks, however I have had a little experience with LAMP and a small amount of exposure to Laravel.</p>
		<p>In terms of design, my style has developed drastically over the past four years of study. I began my degree intending to major in illustration, however upon exposure to different styles of work I now tend toward minimalism, typography and grids.</p>
		<p>I am really interested in UI/UX design and love the challenge of designing creative yet intuitive web applications. I hope some day to take my career to New York or Northern California.</p>
	</section>
</div>