<div class="view">
	<section>
		<h2>About—</h2>
		<p>I graduated from AUT with a Bachelor of Design majoring in Graphic Design in 2015 and followed up with a Diploma of Web Development in 2016.</p>
		<p>I am a confident user of Adobe Creative Suite, particularly inDesign and illustrator and I have proficent knowledge of photoshop.  I am fluent in both Windows and OSX and am beginning to explore  GNU/Linux distros.</p>
		<p>Client-side development is my forté, however I am still very interested in Server-side (particularly NodeJs).  I’ve been exploring AngularJs and am keen to look into React. I still have a  love for print.</p>
		<p>In terms of my design style I tend toward structure, grids and minimalism. </p>
	</section>
</div>