<div class="view">

	<section>
		<h2>Graphic—</h2>
	</section>

	<section>

		<h2>DLI Manifesto</h2>

		<p>I have always believed that theory is one of the most important aspects of any field and for this reason I decided to undertake a theory based final project in my graduate year at AUT. This research project is an attempt to create a foundation document outlining the tenets of Design-Led Innovation. I made the choice to use light weight, low cost news print as a medium to maximise efficiency in distribution. I experimented with a risograph as a means of printing, however the decades-old technology gave out on me half way through the project. This led me to explore other means of printing, including screen printing, for which I settled. The use of newsprint opened new possibilities of folding to change the form of the manifesto. I thought this was an particularly appropriate to the malleability of Design-Led Innovation as a theory. It can be read in three different forms two of which are more succinct summaries of the theory.</p>
		<p>This project was selected to be a part of the permanent design gallery at AUT. It was selected to be featured on design-assembly and also nominated for Best Awards 2014.</p>
		
		<button id="dli">View Gallery</button>

	</section>

	<section>

		<h2>Logo Design</h2>

		<p>This is a selection of logos I have designed over the last four years. Most were commissioned freelance work.</p>

		<button id="logo">View Gallery</button>

	</section>

</div>