<div class="view">

	<section>
		<h2>Graphic—</h2>
	</section>

	<!-- <img class="tease" src="../../assets/img/dli.png" alt=""> -->

	<section>

		<h2>DLI Manifesto</h2>

		<p>This research project is an attempt to create a foundation document outlining the tenets of Design-Led Innovation. I made the choice to use light weight, low cost news print as a medium to maximise efficiency in distribution. I experimented with a risograph as a means of printing, however the decades-old technology gave out on me half way through the project. This led me to explore other means of printing, including screen printing, for which I settled. The use of newsprint opened new possibilities of folding to change the form of the manifesto. It can be read in three different forms two of which are more succinct summaries of the theory.</p>

		<div class="picture" itemscope>

			<figure>
				<a href="../../assets/img/dli_5.png" data-size="744x524" data-index="0">
					<img src="../../assets/img/dli_5.png" height="110" width="126" itemprop="thumbnail">
				</a>
			</figure>

			<figure>
				<a href="../../assets/img/dli_4.png" data-size="524x744" data-index="0">
					<img src="../../assets/img/dli_4.png" height="110" width="68" itemprop="thumbnail">
				</a>
			</figure>

			<figure>
				<a href="../../assets/img/dli_3.png" data-size="524x744" data-index="0">
					<img src="../../assets/img/dli_3.png" height="110" width="68" itemprop="thumbnail">
				</a>
			</figure>

			<figure>
				<a href="../../assets/img/dli_6.png" data-size="744x524" data-index="0">
					<img src="../../assets/img/dli_6.png" height="110" width="126" itemprop="thumbnail">
				</a>
			</figure>
			
			<figure>
				<a href="../../assets/img/dli_2.png" data-size="524x744" data-index="0">
					<img src="../../assets/img/dli_2.png" height="110" width="68" itemprop="thumbnail">
				</a>
			</figure>

			<figure>
				<a href="../../assets/img/dli_1.png" data-size="524x744" data-index="0">
					<img src="../../assets/img/dli_1.png" height="110" width="68" itemprop="thumbnail">
				</a>
			</figure>

		</div>

	</section>

	<!-- <img class="tease" src="../../assets/img/logo.png" alt=""> -->

	<section>

		<h2>Logo Design</h2>
		<p>Collection of logos designed during study and freelance projects.</p>

		<div class="picture" itemscope>

			<figure>
				<a href="../../assets/img/logo_1.png" data-size="600x635" data-index="0">
					<img src="../../assets/img/logo_1.png" height="90" width="90" itemprop="thumbnail">
				</a>
			</figure>

			<figure>
				<a href="../../assets/img/logo_2.png" data-size="707x608" data-index="0">
					<img src="../../assets/img/logo_2.png" height="80" width="90" itemprop="thumbnail">
				</a>
			</figure>

			<figure>
				<a href="../../assets/img/logo_3.png" data-size="690x609" data-index="0">
					<img src="../../assets/img/logo_3.png" height="90" width="90" itemprop="thumbnail">
				</a>
			</figure>

			<figure>
				<a href="../../assets/img/logo_4.png" data-size="608x278" data-index="0">
					<img src="../../assets/img/logo_4.png" height="90" width="180" itemprop="thumbnail">
				</a>
			</figure>
			
			<figure>
				<a href="../../assets/img/logo_5.png" data-size="612x609" data-index="0">
					<img src="../../assets/img/logo_5.png" height="90" width="90" itemprop="thumbnail">
				</a>
			</figure>


		</div>

	</section>

</div>