<div class="view">
	<section>
		<h2>Web—</h2>
	</section>

	<section>
		
		<h2>Fly To The Limit</h2>

		<p>This was a project undertaken during my final year of study as a means of practicing CSS and JavaScript. The brief was relatively open; only the company name was supplied, whilst the branding, identity, UI and functionality were left to be designed.</p>

		<a href="http://128.199.242.122/#/" class="link" target="_blank">View Site</a>


	</section>

	<section>
		
		<h2>Custodes</h2>

		<p>Custodes is my final web development/programming assignment. The concept behind this web app is real time tracking of police checkpoints.</p>
		<p>A user can navigate to the page and track on a live map the locations that other users have stored indicating the location of speed traps. A user can create an account and contribute indicators.</p>
		<p>The site has basic functionality including form validation and writing to a Mongo database (account creation and storing location pins) however some aspects are unfinished. I would like to continue this project and add a voting system where users may 'upvote' or 'downvote' indicators if there is or is not police activity in the area. If an indicator recieves a certain number of downvotes the marker and all its information would be wiped from the database. I would also like to add a timer to indicators so they expire after an elapsed period. Small UI features like user account information also need to be added.</p>
		<p>The project utilizes sockets.io for real time updates.</p>
		<p>I chose the name custodes to elude to the Roman Poet Juvenal's phrase "Quis custodiet ipsos custodes?" roughly translating to "Who watches the watchmen." I developed the custodes logo and identity around a roman aesthetic.</p>

		<a href="http://188.166.180.154:3000/#/" class="link" target="_blank">View Site</a>

	</section>
</div>