<div class="view">
	<section>
		<h2>Web—</h2>
	</section>

	<section>
		
		<h2>Fly To The Limit</h2>

		<p>This was a project undertaken during my final year of study.</p>

		<a href="http://128.199.242.122/#/" class="link" target="_blank">View Site</a>


	</section>

	<section>
		
		<h2>Custodes</h2>

		<p>Custodes is my final web development/programming assignment. The concept behind this web app is real time tracking of police checkpoints.</p>

		<a href="http://188.166.235.144:3000/#/" class="link">View Site</a>

	</section>
</div>